{% extends 'back_base.html.twig' %}

{% block title %}Edit Products{% endblock %}

{% block body %}
    <h1>Edit Products</h1>

    {{ include('back/products/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_products_index') }}">back to list</a>

    {{ include('back/products/_delete_form.html.twig') }}
{% endblock %}
