{% extends 'back_base.html.twig' %}

{% block title %}New Products{% endblock %}

{% block body %}
    <h1>Create new Products</h1>

    {{ include('back/products/_form.html.twig') }}

    <a href="{{ path('app_back_products_index') }}">back to list</a>
{% endblock %}
