

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Brasserie Difré{% endblock %}</title>
     <style>
        body {
            background: black;
            
        }
        .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 997;
    display: flex;
    justify-content: center;
    align-items: center;


}
.hidden {
    opacity: 0;
    visibility: hidden;
}
.loader {
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 998;
    top:50%;
    left:50%;
    border: 5px solid #e5e5e5;
    border-top: 5px solid #ff8a03;
    border-radius: 50%;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
    animation: loader 1s linear infinite;
    transform: translate(-50%, -50%) rotate(0deg);
  

}
.loader-logo {
    position: absolute;
    animation: 0;

   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
    width: 68px;
    z-index: 999;

}
        .stop {
            display: none;
        }
    </style>
    <script src="{{ asset('assets/js/loader.bundle.js')}}"></script>
<script defer src="{{ asset('assets/js/main.bundle.js')}}"></script></head>
<body>  
   
    <!--<div class="loader-container">
        <div class="loader">
        </div>
        <img class="loader-logo" src="../assets/images/logo_loader.png" alt="logo">
    </div>-->
    
    <article>

        {% block body %}
            <img height="350px" src="{{ asset('assets/images/logo.png') }}" alt="Brasserie Difré">
            <p>Pour pouvoir visiter notre site, vous devez être en âge d'acheter et de
                    consommer de l'alcool conformément à la legislation en vigueur.
            </p>
            <p>L'abus d'alcool est dangereux pour la santé. À consommer avec modération.</p>
            <div class="age">
                <form action="">
                    <button class="green" >+18</button>
                </form>
                <form action="">
                    <button class="red">-18</button>
                </form>
            </div>
        {% endblock %}

  </article>
</body>
</html>