 {% block body %}
    <footer> 
        <a class="img" href="./home.html"><img src="./assets/images/logo2.png" alt=""></a>
        <div class="cgv">
            <a href="./cgv.html">CGV</a>
            <a href="./mentions.html">Mention légales</a>
        </div>
        <div class="inline"></div>
        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tout droit réversé | Réalisation de l'application web <a href="https://mathieusiaudeau.fr">Mathieu SIAUDEAU</a> | Réalisation photo <a href="https://elo-studio86.fr" target="_blank">elo-studio</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
    </footer>
{% endblock %}