{% block body %}
<head>
        <meta charset="UTF-8">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/011d5ad9e9.js" crossorigin="anonymous"></script>
        <title>{% block title %}Brasserie Difré{% endblock %}</title>
        <style>
        body {
            background: black;
            
        }
        .stop {
            display: none;
        }
    </style>
    <script defer src="assets/js/home.bundle.js"></script>
    <script defer src="assets/js/biere.bundle.js"></script>
    <script defer src="assets/js/loader.bundle.js"></script>
    <script defer src="assets/js/topbar.bundle.js"></script>
</head>
<body>  
   
    <div class="loader-container">
        <div class="loader">
        </div>
        <img class="loader-logo" src="../assets/images/logo_loader.png" alt="logo">
    </div>
    <header>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
{% endblock %}
