<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/011d5ad9e9.js" crossorigin="anonymous"></script>
        <title>{% block title %}Brasserie Difré{% endblock %}</title>
        <style>
        body {
            background: black;
            
        }
        .stop {
            display: none;
        }
    </style>
     <script defer src="assets/js/components/indiscrete.js"></script>
       <script defer src="assets/js/app.js"></script>
    <script defer src="assets/js/home.bundle.js">
    </script><script defer src="assets/js/loader.bundle.js"></script>
    <script defer src="assets/js/topbar.bundle.js"></script></head>
<body>  
   
    <div class="loader-container">
        <div class="loader">
        </div>
        <img class="loader-logo" src="../assets/images/logo_loader.png" alt="logo">
    </div>
    <header>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>
    <section class="ban">
            
        <div class="header-shadow">
            <div class="header-nav">
                
                <div class="logo"><a href="./home.html"><img src="assets/images/logo.png" width="100px" alt=""></a></div>
                <div class="header-menu">
                <nav>
                    <ul>
                        <li><a href="./home.html">Accueil</a></li>
                        <li><a href="./bieres.html">Les bières à Difré</a></li>
                        <li><a href="./map.html">Où sommes nous ?</a></li>
                        <li><a href="./contact.html">Nous contacter</a></li>
                    </ul> 
                </nav>
            </div>
                <!--<div class="secondary-menu">
                    <div class="login">Connexion</div>
                    <div class="compte"><a href="./compte.html">Mon compte</a></div>
                    <div class="panier"><a href="./panier.html">Mon panier</a></div>
                </div>
                <div class="connect">Connexion</div>-->
                <div class="header-menu-icon">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            
        </div>
        <div class="mobile"></div>  
        
        </section>
       
    </header>
        <main>
        {% block body %}
        
        {% endblock %}
        </main>
      <footer> 
        <a class="img" href="./home.html"><img src="./assets/images/logo2.png" alt=""></a>
        <div class="cgv">
            <a href="./cgv.html">CGV</a>
            <a href="./mentions.html">Mention légales</a>
        </div>
         <div class="indiscrete" style="width:100%;display:flex;flex-direction:column;align-items:center;margin:2em 0;"><p>Nous soutenons le made in France</p></div>
        <div class="inline"></div>
        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tout droit réversé | Réalisation de l'application web Math&Keddy étudiants web et web mobile | Réalisation photo <a href="https://elo-studio86.fr" target="_blank">elo-studio</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
    </footer>
</body>
</html>
