{% extends 'front/base.html.twig' %}

{% block title %}Brasserie Difré - Accueil{% endblock %}

{% block body %}
    <h1>La brasserie de Valdivienne</h1>
        <section class="presentation">
            <article>
                <h2>{{ page.subtitle }}</h2>
                {{ page.content|raw }}
                <div class="container-img">
                    <img src="../assets/images/certification.jpg" alt="">
                </div>
            </article>
        </section>
{% endblock %}
